<!doctype html>
<html lang="en">
  <head>
	<title>Grocery Predictor</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width-=device=width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  </head>
  <body>
  <div class="align-self-center" align="center">
	  <div class="card border-primary mb-3" style="max-width: 20rem;">
		<div class="card-header"><h1>Grocery Predictor</h1></div>
		<form class="form-control" method="POST" action="" enctype="multipart/form-data" id="f">
          <input type="file" id="upload" name="file">
		</form>
		<button class="btn btn-primary" type="submit" form="f" value="Submit">Submit</button>
		</div>
		<div class="container-fluid">
		   {% if files %}
			<div class="card border-secondary mb-3" style="max-width: 20rem;">
			<div class="card-header"><h3>Results</h2></div>
			<div class="card-body">
			{% for file in files %}
			  <p class="card-text">
			  <img src="{{ url_for('upload', filename=file) }}" style="width: 64px">
			  </p>
			{% endfor %}
			{% if pred_class %}
				<h4 class="card-title">{{ pred_class }}</h4>
			{% endif %}
			{% if outputs %}
				<p class="card-text">Probabilities:</p>
				<p class="card-text">{{ outputs }}</p>
			{% endif %}
			</div>
			</div>
		   {% endif %}
		</div>
  </div>
  </body>
  <footer id="footer">
	<div class="align-self-center" align="center">
		<div class="row">
		<p>Model and app created by <a href="https://github.com/SarahEGood">Sarah Good</a>. Bootstrap template from <a href="https://bootswatch.com/">Bootswatch</a>.</p>
		</div>
	</div>
  </footer>
</html>